[*.cs]

# Do not ignore method results
dotnet_diagnostic.CA1806.severity = suggestion

# Remove unused private member
dotnet_diagnostic.IDE0051.severity = suggestion

# Remove unread private member
dotnet_diagnostic.IDE0052.severity = suggestion

# Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = suggestion
