**/.vs/**
**/.vscode/
/output/**
/packaged_output
/result
/test_output
**/ipch/**
/Assets/dll/*.wbx
Backup/
UpgradeLog.htm

*.ilk
*.il
*.tlog
*.obj
*.o
*.gcda
*.filters
*.opendb

/Dist/*.zip
/Dist/git_hooks/*.local.ps1

# mupen64plus-win32-deps is a submodule, so ignores should be in that repo
/libmupen64plus/mupen64plus-win32-deps/SDL-1.2.14/docs
/libmupen64plus/mupen64plus-win32-deps/SDL-1.2.14/docs.html

*.opensdf
*.user
*.suo
*.sdf
*.ipch
*.pdb
.hg
.hgignore
.hgtags

/psx/octoshock/bizhawk/Win32
/psx/octoshock/bizhawk/x64
/psx/octoshock/bizhawk/*.opendb

**/StyleCop.Cache
/waterbox/**/*.wbx
/waterbox/**/*.wbx.in

.idea

/packages

launchSettings.json
