/*.user
/*.sdf
/*.suo
/BizHawk.pro.opensdf
/ipch
/snes9xgit
/BizHawk.Client.Common/bin
/BizHawk.Client.Common/obj
/BizHawk.Client.Common/Properties/svnrev.cs
/BizHawk.Client.DBMan/obj
/BizHawk.Client.DiscoHawk/obj
/BizHawk.Client.DiscoHawk/*.user
/BizHawk.Client.DiscoHawk/Properties/svnrev.cs
/BizHawk.Client.EmuHawk/BizHawk.MultiClient.csproj.user
/BizHawk.Client.EmuHawk/obj
/BizHawk.Client.EmuHawk/*.user
/BizHawk.Client.EmuHawk/Properties/svnrev.cs
/BizHawk.Client.EmuHawk/tools/TAStudio/HistoryBox.Designer.cs
/BizHawk.Client.EmuHawk/tools/TAStudio/HistoryBox.cs
/BizHawk.Client.EmuHawk/tools/TAStudio/HistoryBox.resx
/BizHawk.Client.MultiHawk/bin
/BizHawk.Client.MultiHawk/obj
/BizHawk.Common/bin
/BizHawk.Common/obj
/BizHawk.Common/Properties/svnrev.cs
/BizHawk.Emulation.Common/bin
/BizHawk.Emulation.Common/obj
/BizHawk.Emulation.Common/Properties/svnrev.cs
/BizHawk.Emulation.Cores/bin
/BizHawk.Emulation.Cores/obj
/BizHawk.Emulation.Cores/*.user
/BizHawk.Emulation.Cores/Properties/svnrev.cs
/BizHawk.Emulation.DiscSystem/bin
/BizHawk.Emulation.DiscSystem/obj
/BizHawk.Emulation.DiscSystem/Properties/svnrev.cs
/BizHawk.Installer/bin
/BizHawk.Installer/obj
/Bizware/*.suo
/Bizware/BizHawk.Bizware.BizwareGL/bin
/Bizware/BizHawk.Bizware.BizwareGL/obj
/Bizware/BizHawk.Bizware.BizwareGL.GdiPlus/bin
/Bizware/BizHawk.Bizware.BizwareGL.GdiPlus/obj
/Bizware/BizHawk.Bizware.BizwareGL.OpenTK/bin
/Bizware/BizHawk.Bizware.BizwareGL.OpenTK/obj
/Bizware/BizHawk.Bizware.BizwareGL.SlimDX/bin
/Bizware/BizHawk.Bizware.BizwareGL.SlimDX/obj
/Bizware/BizHawk.Bizware.Test/bin
/Bizware/BizHawk.Bizware.Test/obj
/Build/*.vshost.*
/Build/BizHawk.Build.Tool/bin
/Build/BizHawk.Build.Tool/obj
/Build/BizHawk.Build.Tool/*.suo
/CpuCoreGenerator/bin
/CpuCoreGenerator/obj
/Dist/*.zip
/EMU7800/bin
/EMU7800/*.suo
/ExternalCoreProjects/Virtu/obj
/ExternalCoreProjects/Virtu/*.suo
/LuaInterface/LuaInterface.sdf
/LuaInterface/LuaInterface.suo
/LuaInterface/Release
/LuaInterface/Debug
/LuaInterface/Lua/LuaInterface.sdf
/LuaInterface/Lua/LuaInterface.suo
/LuaInterface/Lua/Release
/LuaInterface/Lua/Debug
/LuaInterface/Lua/*.user
/LuaInterface/Lua/src/Debug
/LuaInterface/Lua/src/Release
/LuaInterface/Lua/src/*.user
/LuaInterface/LuaInterface/obj
/LuaInterface/LuaInterface/*.csproj.user
/LuaInterface/LuaInterface/Properties
/References/*.pdb
/Version/bin
/Version/obj
/Version/svnrev.cs
/attic/PsxHawk.API/*.user
/attic/PsxHawk.API/Release
/attic/PsxHawk.Core/*.user
/attic/PsxHawk.Core/Debug
/attic/PsxHawk.Core/Release
/genplus-gx/libretro/msvc/ipch
/genplus-gx/libretro/msvc/*.sdf
/genplus-gx/libretro/msvc/*.suo
/genplus-gx/libretro/msvc/msvc-2010/*.user
/libgambatte/Debug
/libgambatte/Release
/libgambatte/libgambatte.sdf
/libgambatte/libgambatte.suo
/libgambatte/libgambatte.vcxproj.user
/libmupen64plus/D3D8Interceptor/D3D8Interceptor/Debug
/libmupen64plus/D3D8Interceptor/D3D8Interceptor/Release
/libmupen64plus/D3D8Interceptor/D3D8Interceptor/*.user
/libmupen64plus/mupen64plus-audio-bkm/mupen64plus-audio-bkm/Debug
/libmupen64plus/mupen64plus-audio-bkm/mupen64plus-audio-bkm/Release
/libmupen64plus/mupen64plus-audio-bkm/mupen64plus-audio-bkm/*.filters
/libmupen64plus/mupen64plus-audio-bkm/mupen64plus-audio-bkm/*.user
/libmupen64plus/mupen64plus-core/.hg
/libmupen64plus/mupen64plus-core/.hgignore
/libmupen64plus/mupen64plus-core/.hgtags
/libmupen64plus/mupen64plus-core/projects/msvc11/Debug
/libmupen64plus/mupen64plus-core/projects/msvc11/Release
/libmupen64plus/mupen64plus-core/projects/msvc11/*.user
/libmupen64plus/mupen64plus-input-bkm/mupen64plus-input-bkm/Debug
/libmupen64plus/mupen64plus-input-bkm/mupen64plus-input-bkm/Release
/libmupen64plus/mupen64plus-input-bkm/mupen64plus-input-bkm/*.filters
/libmupen64plus/mupen64plus-input-bkm/mupen64plus-input-bkm/*.user
/libmupen64plus/mupen64plus-rsp-hle/.hg
/libmupen64plus/mupen64plus-rsp-hle/.hgignore
/libmupen64plus/mupen64plus-rsp-hle/.hgtags
/libmupen64plus/mupen64plus-rsp-hle/projects/msvc11/Debug
/libmupen64plus/mupen64plus-rsp-hle/projects/msvc11/Release
/libmupen64plus/mupen64plus-rsp-hle/projects/msvc11/*.user
/libmupen64plus/mupen64plus-sln/.hg
/libmupen64plus/mupen64plus-sln/.hgignore
/libmupen64plus/mupen64plus-sln/.hgtags
/libmupen64plus/mupen64plus-sln/projects/msvc11/Debug
/libmupen64plus/mupen64plus-sln/projects/msvc11/Release
/libmupen64plus/mupen64plus-sln/projects/msvc11/*.sdf
/libmupen64plus/mupen64plus-sln/projects/msvc11/*.opensdf
/libmupen64plus/mupen64plus-sln/projects/msvc11/*.suo
/libmupen64plus/mupen64plus-sln/projects/msvc11/*.user
/libmupen64plus/mupen64plus-sln/projects/msvc11/ipch
/libmupen64plus/mupen64plus-video-glide64/.hg
/libmupen64plus/mupen64plus-video-glide64/.hgignore
/libmupen64plus/mupen64plus-video-glide64/.hgtags
/libmupen64plus/mupen64plus-video-glide64/projects/msvc10/Debug
/libmupen64plus/mupen64plus-video-glide64/projects/msvc10/Release
/libmupen64plus/mupen64plus-video-glide64/projects/msvc10/*.opensdf
/libmupen64plus/mupen64plus-video-glide64/projects/msvc10/*.sdf
/libmupen64plus/mupen64plus-video-glide64/projects/msvc10/*.vcxproj.user
/libmupen64plus/mupen64plus-video-glide64/projects/msvc10/*.suo
/libmupen64plus/mupen64plus-video-glide64/projects/msvc10/ipch
/libmupen64plus/mupen64plus-video-glide64mk2/.hg
/libmupen64plus/mupen64plus-video-glide64mk2/.hgignore
/libmupen64plus/mupen64plus-video-glide64mk2/.hgtags
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc10/Debug
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc10/ipch
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc10/*.sdf
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc10/*.suo
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc10/*.user
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc10/Release
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc11/Debug
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc11/Release
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc11/*.user
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc11/ipch
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc11/*.sdf
/libmupen64plus/mupen64plus-video-glide64mk2/projects/msvc11/*.suo
/libmupen64plus/mupen64plus-video-jabo/Debug
/libmupen64plus/mupen64plus-video-jabo/Release
/libmupen64plus/mupen64plus-video-jabo/*.filters
/libmupen64plus/mupen64plus-video-jabo/*.user
/libmupen64plus/mupen64plus-video-jabo/mupen64plus-video-jabo/Debug
/libmupen64plus/mupen64plus-video-jabo/mupen64plus-video-jabo/Release
/libmupen64plus/mupen64plus-video-jabo/mupen64plus-video-jabo/*.filters
/libmupen64plus/mupen64plus-video-jabo/mupen64plus-video-jabo/*.user
/libmupen64plus/mupen64plus-video-rice/.hg
/libmupen64plus/mupen64plus-video-rice/.hgignore
/libmupen64plus/mupen64plus-video-rice/.hgtags
/libmupen64plus/mupen64plus-video-rice/projects/msvc11/Debug
/libmupen64plus/mupen64plus-video-rice/projects/msvc11/Release
/libmupen64plus/mupen64plus-video-rice/projects/msvc11/*.user
/libmupen64plus/mupen64plus-video-z64/projects/msvc11/*.sdf
/libmupen64plus/mupen64plus-video-z64/projects/msvc11/*.suo
/libmupen64plus/mupen64plus-video-z64/projects/msvc11/*.user
/libmupen64plus/mupen64plus-video-z64/projects/msvc11/BizHawk.pro.opensdf
/libmupen64plus/mupen64plus-video-z64/projects/msvc11/ipch
/libmupen64plus/mupen64plus-video-z64/projects/msvc11/snes9xgit
/libmupen64plus/mupen64plus-video-z64/projects/msvc11/Release
/libmupen64plus/mupen64plus-video-z64/projects/msvc11/Debug
/libmupen64plus/mupen64plus-win32-deps/.hg
/libmupen64plus/mupen64plus-win32-deps/.hgignore
/libmupen64plus/mupen64plus-win32-deps/.hgtags
/libmupen64plus/mupen64plus-win32-deps/SDL-1.2.14/docs
/libmupen64plus/mupen64plus-win32-deps/SDL-1.2.14/docs.html
/libsnes/libco_msvc_win32/libco_msvc_win32.opensdf
/libsnes/libco_msvc_win32/libco_msvc_win32.sdf
/libsnes/libco_msvc_win32/libco_msvc_win32.vcxproj.user
/libsnes/libco_msvc_win32/ipch
/libsnes/libco_msvc_win32/*.suo
/libsnes/libco_msvc_win32/Debug
/libsnes/vs2015/Debug
/libsnes/vs2015/*.user
/libsnes/vs2015/.vs
/libsnes/vs2015/.obj
/lynx/bizlynx/Debug
/lynx/bizlynx/*.sdf
/lynx/bizlynx/ipch
/lynx/bizlynx/*.suo
/lynx/bizlynx/*.user
/lynx/bizlynx/Release
/output/*.bin
/output/*.bk2
/output/*.ini
/output/*.lnk
/output/*.lua
/output/*.luases
/output/*.pdb
/output/*.rom
/output/*.wch
/output/*log.txt
/output/Atari 2600
/output/Atari 7800
/output/BizHawk.Bizware.BizwareGL.GdiPlus.dll
/output/BizHawk.Bizware.BizwareGL.OpenTK.dll
/output/BizHawk.Bizware.BizwareGL.SlimDX.dll
/output/BizHawk.Bizware.BizwareGL.dll
/output/BizHawk.Client.Common.dll
/output/BizHawk.Client.DBMan.exe
/output/BizHawk.Client.DBMan.exe.config
/output/BizHawk.Client.MultiHawk.vshost.exe
/output/BizHawk.Client.MultiHawk.vshost.exe.config
/output/BizHawk.Client.MultiHawk.vshost.exe.manifest
/output/BizHawk.Common.dll
/output/BizHawk.Emulation.Common.dll
/output/BizHawk.Emulation.Cores.dll
/output/BizHawk.Emulation.DiscSystem.dll
/output/BizHawk.Emulation.dll
/output/BizHawk.Emulation.pdb
/output/BizHawk.MultiClient.vshost.exe
/output/BizHawk.Util.dll
/output/BizHawk.Util.pdb
/output/BizHawk.zip
/output/C64
/output/CSharp-SQLite.dll
/output/Coleco
/output/DiscoHawk.exe
/output/DiscoHawk.pdb
/output/Dual Gameboy
/output/EMU7800.dll
/output/EmuHawk.exe
/output/GBA
/output/Game Gear
/output/Genesis
/output/GongShell.dll
/output/GongShell.xml
/output/ICSharpCode.SharpZipLib.dll
/output/Intellivision
/output/Ionic.Zip.dll
/output/Logs
/output/LuaDocumentationWiki.txt
/output/LuaInterface.dll
/output/Lynx
/output/Movies
/output/MultiHawk.exe
/output/MultiHawk.exe.config
/output/MultiHawk.vshost.exe
/output/MultiHawk.vshost.exe.config
/output/N64
/output/Newtonsoft.Json.dll
/output/OpenTK.GLControl.dll
/output/OpenTK.dll
/output/PC Engine
/output/SG-1000
/output/SMS
/output/SNES
/output/Saturn
/output/SlimDX.dll
/output/Sonic & Tails (J) \[!\].gg
/output/Sonic the Hedgehog (UE) \[!\].sms
/output/Super Mario Bros. (Japan, USA).nes
/output/TI83
/output/Watch
/output/Watches
/output/WonderSwan
/output/config.ini
/output/gd.dll
/output/lua51.dll
/output/Virtu.dll
/output/*.romses
/output/AppleII
/output/Firmware/BizHawk.Bizware.BizwareGL.dll
/output/Firmware/BizHawk.Bizware.BizwareGL.OpenTK.dll
/output/Firmware/BizHawk.Client.Common.dll
/output/Firmware/BizHawk.Client.DBMan.exe
/output/Firmware/BizHawk.Client.DBMan.exe.config
/output/Firmware/BizHawk.Common.dll
/output/Firmware/BizHawk.Emulation.Common.dll
/output/Firmware/BizHawk.Emulation.Cores.dll
/output/Firmware/BizHawk.Emulation.DiscSystem.dll
/output/Firmware/CSharp-SQLite.dll
/output/Firmware/BizHawk.Emulation.dll
/output/Firmware/BizHawk.Emulation.pdb
/output/Firmware/BizHawk.Util.dll
/output/Firmware/BizHawk.Util.pdb
/output/Firmware/BizHawk.zip
/output/Firmware/DiscoHawk.exe
/output/Firmware/DiscoHawk.pdb
/output/Firmware/Game Gear
/output/Firmware/Genesis
/output/Firmware/LuaInterface.dll
/output/Firmware/Movies
/output/Firmware/Newtonsoft.Json.dll
/output/Firmware/PC Engine
/output/Firmware/SMS
/output/Firmware/SNES
/output/Firmware/SlimDX.dll
/output/Firmware/*.gg
/output/Firmware/*.sms
/output/Firmware/*.nes
/output/Firmware/config.ini
/output/Firmware/gd.dll
/output/Firmware/lua51.dll
/output/Firmware/N64
/output/Firmware/Coleco
/output/Firmware/GBA
/output/Firmware/Saturn
/output/Firmware/BizHawk.MultiClient.vshost.exe
/output/Firmware/*.pdb
/output/Firmware/*.lua
/output/Firmware/*.wch
/output/Firmware/*.bk2
/output/Firmware/*.ini
/output/Firmware/*.rom
/output/Firmware/*.bin
/output/Firmware/*log.txt
/output/Firmware/Atari 2600
/output/Firmware/Atari 7800
/output/Firmware/C64
/output/Firmware/Dual Gameboy
/output/Firmware/Intellivision
/output/Firmware/SG-1000
/output/Firmware/TI83
/output/Firmware/WonderSwan
/output/Firmware/EMU7800.dll
/output/Firmware/EmuHawk.exe
/output/Firmware/*.*
/output/Firmware/basic
/output/Firmware/chargen
/output/Firmware/dos1541
/output/Firmware/kernal
/output/Gameboy/SaveRAM
/output/Gameboy/State
/output/Lua/Test.lua
/output/Lua/Test.luases
/output/Lua/Test2.lua
/output/Lua/Brandon.lua
/output/NES/Cheats
/output/NES/SaveRAM
/output/NES/Screenshots
/output/NES/State
/output/NES/ROMs
/output/dll/*.ilk
/output/dll/*.exp
/output/dll/*.pdb
/output/dll/*.lib
/output/dll/BizHawk.Bizware.BizwareGL.dll
/output/dll/BizHawk.Bizware.BizwareGL.OpenTK.dll
/output/dll/BizHawk.Client.Common.dll
/output/dll/BizHawk.Common.dll
/output/dll/BizHawk.Emulation.Common.dll
/output/dll/BizHawk.Emulation.Cores.dll
/output/dll/BizHawk.Emulation.DiscSystem.dll
/output/dll/CSharp-SQLite.dll
/output/dll/EMU7800.dll
/output/dll/GongShell.dll
/output/dll/ICSharpCode.SharpZipLib.dll
/output/dll/Ionic.Zip.dll
/output/dll/Jabo_Direct3D8.dll
/output/dll/lua51.dll
/output/dll/LuaInterface.dll
/output/dll/Newtonsoft.Json.dll
/output/dll/OpenTK.dll
/output/dll/OpenTK.GLControl.dll
/output/dll/SlimDX.dll
/output/dll/BizHawk.Bizware.BizwareGL.GdiPlus.dll
/output/dll/BizHawk.Bizware.BizwareGL.SlimDX.dll
/output/dll/Virtu.dll
/output/gamedb/gamedb_user.txt
/psx/mednadisc/bizhawk/Release
/psx/mednadisc/bizhawk/*.user
/psx/mednadisc/bizhawk/*.suo
/psx/mednadisc/bizhawk/*.sdf
/psx/mednadisc/bizhawk/Debug
/psx/mednadisc/bizhawk/*.opensdf
/psx/octoshock/bizhawk/*.sdf
/psx/octoshock/bizhawk/*.suo
/psx/octoshock/bizhawk/*.user
/psx/octoshock/bizhawk/Release
/psx/octoshock/bizhawk/*.opensdf
/psx/octoshock/bizhawk/Debug
/psx/octoshock/bizhawk/ipch
/psx/octoshock/test/miniclient/*.user
/psx/octoshock/test/miniclient/Debug
/psx/octoshock/test/miniclient/Release
/wonderswan/bizswan/Release
/wonderswan/bizswan/*.sdf
/wonderswan/bizswan/*.suo
/wonderswan/bizswan/*.user
/wonderswan/bizswan/ipch
/libsnes/bsnes/obj
/output/PSX
/output/dll/OpenTK.GLControl.xml
/output/dll/OpenTK.xml
/BizHawk.Client.DBMan/*.user
/output/BizHawk.Client.DBMan.vshost.*
/output/OpenTK.GLControl.xml
/output/OpenTK.xml
/output/dll/miniclient.exe
/References/*.xml
