[submodule "libmupen64plus/mupen64plus-win32-deps"]
	path = libmupen64plus/mupen64plus-win32-deps
	url = https://github.com/mupen64plus/mupen64plus-win32-deps.git
[submodule "libmupen64plus/GLideN64"]
	path = libmupen64plus/GLideN64
	url = https://github.com/TASVideos/GLideN64.git
[submodule "libmupen64plus/mupen64plus-rsp-cxd4"]
	path = libmupen64plus/mupen64plus-rsp-cxd4
	url = https://github.com/TASVideos/mupen64plus-rsp-cxd4.git
[submodule "waterbox/snes9x"]
	path = waterbox/snes9x
	url = https://github.com/TASVideos/snes9x.git
	branch = bizsnes
