
/snes9xgit

svnrev.cs
.vs/**
**/bin/**
**/obj/**
/output/**
/output64/**
**/Release/**
**/Debug/**
**/ipch/**

*.ilk
*.il
*.tlog
*.obj
*.o
*.gcda
*.filters
*.opendb

/BizHawk.Client.EmuHawk/tools/TAStudio/HistoryBox.Designer.cs
/BizHawk.Client.EmuHawk/tools/TAStudio/HistoryBox.cs
/BizHawk.Client.EmuHawk/tools/TAStudio/HistoryBox.resx


/BizHawk.Emulation.DiscSystem/Properties/svnrev.cs



/Build/*.vshost.*

/Dist/*.zip

/LuaInterface/LuaInterface/Properties
/Version/bin
/Version/obj
/Version/svnrev.cs
/attic/PsxHawk.API/Release
/attic/PsxHawk.Core/Debug
/attic/PsxHawk.Core/Release
/genplus-gx/libretro/msvc/ipch

/libmupen64plus/mupen64plus-video-z64/projects/msvc11/snes9xgit
/libmupen64plus/mupen64plus-win32-deps/SDL-1.2.14/docs
/libmupen64plus/mupen64plus-win32-deps/SDL-1.2.14/docs.html

/libsnes/vs2015/.vs
/libsnes/vs2015/.obj

/References/*.xml

*.opensdf
*.user
*.suo
*.sdf
*.ipch
*.pdb
.hg
.hgignore
.hgtags

/LuaInterface/Lua/src/.libs
/LuaInterface/Lua/src/Release-LUAPERKS
/LuaInterface/Release-LUAPERKS

ExternalCoreProjects/Virtu/bin/*.*
/psx/octoshock/bizhawk/Win32
/psx/octoshock/bizhawk/x64
/psx/octoshock/bizhawk/*.opendb

**/StyleCop.Cache
libsnes/vs2015/libsnes.VC.db
waterbox/**/*.wbx
waterbox/**/*.wbx.in
/BizHawkTool_template.zip

mono_crash*

.idea

packages
