[*.cs]

# Remove unused private member
dotnet_diagnostic.IDE0051.severity = suggestion

# Remove unread private member
dotnet_diagnostic.IDE0052.severity = suggestion

# Remove empty else/finally block
dotnet_diagnostic.MA0090.severity = suggestion

# Both if and else branch have identical code
dotnet_diagnostic.MA0140.severity = suggestion

# Elements should have the same indentation
dotnet_diagnostic.SA1137.severity = suggestion

# Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = suggestion
