<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rafaelmeloreis.bizhawkrafaelia"
          android:versionCode="1"
          android:versionName="1.0">
	
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />
	
	<!-- Permissions -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	
	<!-- ARM64-v8a native libraries -->
	<supports-screens android:smallScreens="true"
	                  android:normalScreens="true"
	                  android:largeScreens="true"
	                  android:xlargeScreens="true" />
	
	<application
		android:label="BizHawk Rafaelia"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:largeHeap="true"
		android:theme="@android:style/Theme.Material.NoActionBar">
		
		<activity android:name="com.rafaelmeloreis.bizhawkrafaelia.MainActivity"
		          android:label="BizHawk Rafaelia"
		          android:configChanges="orientation|screenSize|keyboardHidden"
		          android:screenOrientation="landscape"
		          android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
	</application>
</manifest>
